@keyframes left-to-right {
    0% {
	transform: translate3d(-100%, 0, 0);
    }

    100% {
	transform: translate3d(100%, 0, 0);
    }
}
    
.clouds {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    height: 40%;
    overflow: hidden;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    @media (max-height: 620px) {
	& {
	    display: none;
	}
    }

    @for $i from 1 through 30 {
	$height: 15 + random(50);
	$delay: random(55);
	
	div:nth-child(#{$i}) {
	    animation-name: left-to-right;
	    animation-iteration-count: infinite;
	    animation-timing-function: linear;
	    animation-duration: 80s * max(1 - ($height / 55) * ($height / 55), 0.4);
	    animation-delay: -1s * random(40);

	    position: absolute;
	    width: 100%;
	    
	    top: 1% * max(2, random(60));
	    height: 1px * $height;

	    z-index: $height;

	    color: gray;
	    opacity: 1;

	    svg {
		height: 100%;
		width: auto !important;
	    }
	}
    }
}
