html,
body {
  font-family: 'Source Serif Pro', serif; }

h1,
h2,
h3,
h4,
h5 {
  font-weight: 100;
  margin-bottom: 0;
  border-bottom: 0.05em solid #000000; }

p.fancy::first-letter {
  font-size: 2rem;
  line-height: 24px; }

.triangle {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 45px solid #162955; }

.highlight table td {
  padding: 5px; }
.highlight table pre {
  margin: 0; }
.highlight .w {
  color: #bbbbbb; }
.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1 {
  color: #888; }
.highlight .cp {
  color: #579; }
.highlight .cs {
  color: #cc0000;
  font-weight: bold; }
.highlight .k, .highlight .kc, .highlight .kd, .highlight .kn, .highlight .kr, .highlight .kv {
  color: #080;
  font-weight: bold; }
.highlight .kp {
  color: #038; }
.highlight .kt {
  color: #339; }
.highlight .o {
  color: #333; }
.highlight .ow {
  color: #000;
  font-weight: bold; }
.highlight .nb, .highlight .bp {
  color: #007020; }
.highlight .nf {
  color: #06B;
  font-weight: bold; }
.highlight .nc {
  color: #B06;
  font-weight: bold; }
.highlight .nn {
  color: #0e84b5;
  font-weight: bold; }
.highlight .ne {
  color: #F00;
  font-weight: bold; }
.highlight .nv {
  color: #963; }
.highlight .vi {
  color: #33B; }
.highlight .vc {
  color: #369; }
.highlight .vg {
  color: #d70;
  font-weight: bold; }
.highlight .no {
  color: #036;
  font-weight: bold; }
.highlight .nl {
  color: #970;
  font-weight: bold; }
.highlight .ni {
  color: #800;
  font-weight: bold; }
.highlight .na {
  color: #00C; }
.highlight .nt {
  color: #070; }
.highlight .nd {
  color: #555;
  font-weight: bold; }
.highlight .s, .highlight .sb, .highlight .s2, .highlight .sh, .highlight .s1 {
  background-color: #fff0f0; }
.highlight .sc {
  color: #04D; }
.highlight .sd {
  color: #D42; }
.highlight .si {
  background-color: #eee; }
.highlight .se {
  color: #666;
  font-weight: bold; }
.highlight .sr {
  color: #000;
  background-color: #fff0ff; }
.highlight .ss {
  color: #A60; }
.highlight .sx {
  color: #D20; }
.highlight .m, .highlight .mb, .highlight .mx {
  color: #60E;
  font-weight: bold; }
.highlight .mi, .highlight .il {
  color: #00D;
  font-weight: bold; }
.highlight .mf {
  color: #60E;
  font-weight: bold; }
.highlight .mh {
  color: #058;
  font-weight: bold; }
.highlight .mo {
  color: #40E;
  font-weight: bold; }
.highlight .gh {
  color: #000080;
  font-weight: bold; }
.highlight .gu {
  color: #800080;
  font-weight: bold; }
.highlight .gd {
  color: #A00000; }
.highlight .gi {
  color: #00A000; }
.highlight .gr {
  color: #FF0000; }
.highlight .ge {
  font-style: italic; }
.highlight .gs {
  font-weight: bold; }
.highlight .gp {
  color: #c65d09;
  font-weight: bold; }
.highlight .go {
  color: #888; }
.highlight .gt {
  color: #04D; }
.highlight .err {
  color: #F00;
  background-color: #FAA; }

@keyframes left-to-right {
  0% {
    transform: translate3d(-100%, 0, 0); }
  100% {
    transform: translate3d(100%, 0, 0); } }
.clouds {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40%;
  overflow: hidden;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; }
  @media (max-height: 620px) {
    .clouds {
      display: none; } }
  .clouds div:nth-child(1) {
    animation-name: left-to-right;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 46s;
    animation-delay: -10s;
    position: absolute;
    width: 100%;
    top: 8%;
    height: 50px;
    z-index: 50;
    color: gray;
    opacity: 1; }
    .clouds div:nth-child(1) svg {
      height: 100%;
      width: auto !important; }
  .clouds div:nth-child(2) {
    animation-name: left-to-right;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 48s;
    animation-delay: -9s;
    position: absolute;
    width: 100%;
    top: 55%;
    height: 49px;
    z-index: 49;
    color: gray;
    opacity: 1; }
    .clouds div:nth-child(2) svg {
      height: 100%;
      width: auto !important; }
  .clouds div:nth-child(3) {
    animation-name: left-to-right;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 104.132231405s;
    animation-delay: -37s;
    position: absolute;
    width: 100%;
    top: 33%;
    height: 20px;
    z-index: 20;
    color: gray;
    opacity: 1; }
    .clouds div:nth-child(3) svg {
      height: 100%;
      width: auto !important; }
  .clouds div:nth-child(4) {
    animation-name: left-to-right;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 105.679338843s;
    animation-delay: -11s;
    position: absolute;
    width: 100%;
    top: 36%;
    height: 19px;
    z-index: 19;
    color: gray;
    opacity: 1; }
    .clouds div:nth-child(4) svg {
      height: 100%;
      width: auto !important; }
  .clouds div:nth-child(5) {
    animation-name: left-to-right;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 49s;
    animation-delay: -16s;
    position: absolute;
    width: 100%;
    top: 48%;
    height: 55px;
    z-index: 55;
    color: gray;
    opacity: 1; }
    .clouds div:nth-child(5) svg {
      height: 100%;
      width: auto !important; }
  .clouds div:nth-child(6) {
    animation-name: left-to-right;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 46.6512396694s;
    animation-delay: -14s;
    position: absolute;
    width: 100%;
    top: 41%;
    height: 43px;
    z-index: 43;
    color: gray;
    opacity: 1; }
    .clouds div:nth-child(6) svg {
      height: 100%;
      width: auto !important; }
  .clouds div:nth-child(7) {
    animation-name: left-to-right;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 50s;
    animation-delay: -9s;
    position: absolute;
    width: 100%;
    top: 25%;
    height: 49px;
    z-index: 49;
    color: gray;
    opacity: 1; }
    .clouds div:nth-child(7) svg {
      height: 100%;
      width: auto !important; }
  .clouds div:nth-child(8) {
    animation-name: left-to-right;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 50s;
    animation-delay: -15s;
    position: absolute;
    width: 100%;
    top: 59%;
    height: 47px;
    z-index: 47;
    color: gray;
    opacity: 1; }
    .clouds div:nth-child(8) svg {
      height: 100%;
      width: auto !important; }
  .clouds div:nth-child(9) {
    animation-name: left-to-right;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 100.8s;
    animation-delay: -38s;
    position: absolute;
    width: 100%;
    top: 55%;
    height: 22px;
    z-index: 22;
    color: gray;
    opacity: 1; }
    .clouds div:nth-child(9) svg {
      height: 100%;
      width: auto !important; }
  .clouds div:nth-child(10) {
    animation-name: left-to-right;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 59.6628099174s;
    animation-delay: -30s;
    position: absolute;
    width: 100%;
    top: 8%;
    height: 39px;
    z-index: 39;
    color: gray;
    opacity: 1; }
    .clouds div:nth-child(10) svg {
      height: 100%;
      width: auto !important; }
  .clouds div:nth-child(11) {
    animation-name: left-to-right;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 62.7173553719s;
    animation-delay: -13s;
    position: absolute;
    width: 100%;
    top: 27%;
    height: 38px;
    z-index: 38;
    color: gray;
    opacity: 1; }
    .clouds div:nth-child(11) svg {
      height: 100%;
      width: auto !important; }
  .clouds div:nth-child(12) {
    animation-name: left-to-right;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 76.8s;
    animation-delay: -26s;
    position: absolute;
    width: 100%;
    top: 45%;
    height: 33px;
    z-index: 33;
    color: gray;
    opacity: 1; }
    .clouds div:nth-child(12) svg {
      height: 100%;
      width: auto !important; }
  .clouds div:nth-child(13) {
    animation-name: left-to-right;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 74.1421487603s;
    animation-delay: -35s;
    position: absolute;
    width: 100%;
    top: 41%;
    height: 34px;
    z-index: 34;
    color: gray;
    opacity: 1; }
    .clouds div:nth-child(13) svg {
      height: 100%;
      width: auto !important; }
  .clouds div:nth-child(14) {
    animation-name: left-to-right;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 71.4049586777s;
    animation-delay: -18s;
    position: absolute;
    width: 100%;
    top: 57%;
    height: 35px;
    z-index: 35;
    color: gray;
    opacity: 1; }
    .clouds div:nth-child(14) svg {
      height: 100%;
      width: auto !important; }
  .clouds div:nth-child(15) {
    animation-name: left-to-right;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 50s;
    animation-delay: -16s;
    position: absolute;
    width: 100%;
    top: 44%;
    height: 60px;
    z-index: 60;
    color: gray;
    opacity: 1; }
    .clouds div:nth-child(15) svg {
      height: 100%;
      width: auto !important; }
  .clouds div:nth-child(16) {
    animation-name: left-to-right;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 48s;
    animation-delay: -15s;
    position: absolute;
    width: 100%;
    top: 26%;
    height: 63px;
    z-index: 63;
    color: gray;
    opacity: 1; }
    .clouds div:nth-child(16) svg {
      height: 100%;
      width: auto !important; }
  .clouds div:nth-child(17) {
    animation-name: left-to-right;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 100.8s;
    animation-delay: -15s;
    position: absolute;
    width: 100%;
    top: 2%;
    height: 22px;
    z-index: 22;
    color: gray;
    opacity: 1; }
    .clouds div:nth-child(17) svg {
      height: 100%;
      width: auto !important; }
  .clouds div:nth-child(18) {
    animation-name: left-to-right;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 46.6512396694s;
    animation-delay: -33s;
    position: absolute;
    width: 100%;
    top: 42%;
    height: 43px;
    z-index: 43;
    color: gray;
    opacity: 1; }
    .clouds div:nth-child(18) svg {
      height: 100%;
      width: auto !important; }
  .clouds div:nth-child(19) {
    animation-name: left-to-right;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 107.147107438s;
    animation-delay: -32s;
    position: absolute;
    width: 100%;
    top: 22%;
    height: 18px;
    z-index: 18;
    color: gray;
    opacity: 1; }
    .clouds div:nth-child(19) svg {
      height: 100%;
      width: auto !important; }
  .clouds div:nth-child(20) {
    animation-name: left-to-right;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 99.0148760331s;
    animation-delay: -37s;
    position: absolute;
    width: 100%;
    top: 43%;
    height: 23px;
    z-index: 23;
    color: gray;
    opacity: 1; }
    .clouds div:nth-child(20) svg {
      height: 100%;
      width: auto !important; }
  .clouds div:nth-child(21) {
    animation-name: left-to-right;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 41s;
    animation-delay: -14s;
    position: absolute;
    width: 100%;
    top: 43%;
    height: 60px;
    z-index: 60;
    color: gray;
    opacity: 1; }
    .clouds div:nth-child(21) svg {
      height: 100%;
      width: auto !important; }
  .clouds div:nth-child(22) {
    animation-name: left-to-right;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 59.6628099174s;
    animation-delay: -6s;
    position: absolute;
    width: 100%;
    top: 47%;
    height: 39px;
    z-index: 39;
    color: gray;
    opacity: 1; }
    .clouds div:nth-child(22) svg {
      height: 100%;
      width: auto !important; }
  .clouds div:nth-child(23) {
    animation-name: left-to-right;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 46.6512396694s;
    animation-delay: -36s;
    position: absolute;
    width: 100%;
    top: 25%;
    height: 43px;
    z-index: 43;
    color: gray;
    opacity: 1; }
    .clouds div:nth-child(23) svg {
      height: 100%;
      width: auto !important; }
  .clouds div:nth-child(24) {
    animation-name: left-to-right;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 49s;
    animation-delay: -14s;
    position: absolute;
    width: 100%;
    top: 26%;
    height: 50px;
    z-index: 50;
    color: gray;
    opacity: 1; }
    .clouds div:nth-child(24) svg {
      height: 100%;
      width: auto !important; }
  .clouds div:nth-child(25) {
    animation-name: left-to-right;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 107.147107438s;
    animation-delay: -33s;
    position: absolute;
    width: 100%;
    top: 19%;
    height: 18px;
    z-index: 18;
    color: gray;
    opacity: 1; }
    .clouds div:nth-child(25) svg {
      height: 100%;
      width: auto !important; }
  .clouds div:nth-child(26) {
    animation-name: left-to-right;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 79.3785123967s;
    animation-delay: -17s;
    position: absolute;
    width: 100%;
    top: 33%;
    height: 32px;
    z-index: 32;
    color: gray;
    opacity: 1; }
    .clouds div:nth-child(26) svg {
      height: 100%;
      width: auto !important; }
  .clouds div:nth-child(27) {
    animation-name: left-to-right;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 47s;
    animation-delay: -11s;
    position: absolute;
    width: 100%;
    top: 11%;
    height: 60px;
    z-index: 60;
    color: gray;
    opacity: 1; }
    .clouds div:nth-child(27) svg {
      height: 100%;
      width: auto !important; }
  .clouds div:nth-child(28) {
    animation-name: left-to-right;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 43s;
    animation-delay: -7s;
    position: absolute;
    width: 100%;
    top: 20%;
    height: 53px;
    z-index: 53;
    color: gray;
    opacity: 1; }
    .clouds div:nth-child(28) svg {
      height: 100%;
      width: auto !important; }
  .clouds div:nth-child(29) {
    animation-name: left-to-right;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 53.3157024793s;
    animation-delay: -33s;
    position: absolute;
    width: 100%;
    top: 51%;
    height: 41px;
    z-index: 41;
    color: gray;
    opacity: 1; }
    .clouds div:nth-child(29) svg {
      height: 100%;
      width: auto !important; }
  .clouds div:nth-child(30) {
    animation-name: left-to-right;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 102.505785124s;
    animation-delay: -15s;
    position: absolute;
    width: 100%;
    top: 22%;
    height: 21px;
    z-index: 21;
    color: gray;
    opacity: 1; }
    .clouds div:nth-child(30) svg {
      height: 100%;
      width: auto !important; }

code.highlighter-rouge {
  color: #F44119;
  background-color: #F5F7F6; }

.highlight {
  color: #bbbbbb;
  background-color: #FFFFFF; }
  .highlight pre {
    border-left: 3px solid #3B2E3E;
    padding: 5px 0 5px 16px;
    background-color: #FFFBF4; }
  .highlight table td {
    padding: 5px; }
  .highlight table pre {
    margin: 0; }
  .highlight .w {
    color: #bbbbbb; }
  .highlight .n {
    color: #858585; }
  .highlight .p {
    color: #B0A795; }
  .highlight .c, .highlight .cd, .highlight .cm, .highlight .c1 {
    color: #888; }
  .highlight .cp {
    color: #579; }
  .highlight .cs {
    color: #cc0000;
    font-weight: bold; }
  .highlight .k, .highlight .kc, .highlight .kd, .highlight .kn, .highlight .kr, .highlight .kv {
    color: #9FD2C1;
    font-weight: bold; }
  .highlight .kp {
    color: #038; }
  .highlight .kt {
    color: #339; }
  .highlight .o {
    color: #69919E; }
  .highlight .ow {
    color: #000;
    font-weight: bold; }
  .highlight .nb, .highlight .bp {
    color: #007020; }
  .highlight .nf {
    color: #9FD2C1;
    font-weight: bold; }
  .highlight .nc {
    color: #B06;
    font-weight: bold; }
  .highlight .nn {
    color: #0e84b5;
    font-weight: bold; }
  .highlight .ne {
    color: #F00;
    font-weight: bold; }
  .highlight .nv {
    color: #963; }
  .highlight .vi {
    color: #33B; }
  .highlight .vc {
    color: #369; }
  .highlight .vg {
    color: #d70;
    font-weight: bold; }
  .highlight .no {
    color: #036;
    font-weight: bold; }
  .highlight .nl {
    color: #970;
    font-weight: bold; }
  .highlight .ni {
    color: #800;
    font-weight: bold; }
  .highlight .na {
    color: #00C; }
  .highlight .nt {
    color: #070; }
  .highlight .nd {
    color: #555;
    font-weight: bold; }
  .highlight .sc {
    color: #04D; }
  .highlight .sd {
    color: #D42; }
  .highlight .se {
    color: #666;
    font-weight: bold; }
  .highlight .sr {
    color: #000; }
  .highlight .ss {
    color: #A60; }
  .highlight .sx {
    color: #D20; }
  .highlight .m, .highlight .mb, .highlight .mx {
    color: #3B2E3E;
    font-weight: bold; }
  .highlight .mi, .highlight .il {
    color: #00D;
    font-weight: bold; }
  .highlight .mf {
    color: #60E;
    font-weight: bold; }
  .highlight .mh {
    color: #058;
    font-weight: bold; }
  .highlight .mo {
    color: #40E;
    font-weight: bold; }
  .highlight .gh {
    color: #000080;
    font-weight: bold; }
  .highlight .gu {
    color: #800080;
    font-weight: bold; }
  .highlight .gd {
    color: #A00000; }
  .highlight .gi {
    color: #00A000; }
  .highlight .gr {
    color: #FF0000; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gp {
    color: #c65d09;
    font-weight: bold; }
  .highlight .go {
    color: #888; }
  .highlight .gt {
    color: #04D; }
  .highlight .err {
    color: #F00; }
